* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #36c7b1;
  color: #ffffff;
}
.header {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  border-bottom: 2.5px #ffffff dotted;
  height: 20vh;
}

h1 {
  text-align: center;
  width: 35vw;
}

#container {
  display: flex;
  justify-content: center;
  font-size: 2.25vw;
}

form > input {
  text-align: left;
}
form > select {
  font-size: 1.5vw;
  padding: 0 2vw;
}

@media screen and (max-width: 768px) {
  #container {
    font-size: 4vw;
  }
}

@media screen and (max-width: 460px) {
  form > button {
    width: 15vw;
  }
}
